---
Checks: >
  clang-analyzer-*,
  cppcoreguidelines-*,
  modernize-*,
  performance-*,
  readability-*,
  bugprone-*,
  hicpp-*,
  misc-*,
  -misc-non-private-member-variables-in-classes,
  -cppcoreguidelines-non-private-member-variables-in-classes,
  -cppcoreguidelines-avoid-magic-numbers,
  -readability-magic-numbers

HeaderFilterRegex: '.*'

CheckOptions:
  - key:             modernize-use-nullptr.NullMacros
    value:           'NULL'
  - key:             modernize-use-override.IncludeStyle
    value:           'All'
  - key:             readability-identifier-naming.NamespaceCase
    value:           'camelBack'
  - key:             cppcoreguidelines-pro-type-member-init.Hint
    value:           'true'
...

